.r1{
    background-color: black;
    color: aliceblue;
    text-align: center;
    
    
}
.r2{
    text-size-adjust: 300;
    color: aliceblue;
    text-decoration-color: aliceblue ;
    text-decoration-line: underline;
}
.r3{

}
#l1{
    color: rgb(0, 0, 96);
}